<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rehman.clicksonic">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClickSonic"
        tools:targetApi="31">
        <activity
            android:name=".SubActivity.UserList.UserYoutTubeListActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity.UserList.UserTikTokListActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity.UserList.UserInstagramListActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity.UserList.UserFacebookListActivity"
            android:exported="false" />
        <activity
            android:name=".Lists.PaymentHistoryListActivity"
            android:exported="false" />
        <activity
            android:name=".Payment.PutInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdsTestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ScratchActivity"
            android:exported="false" />
        <activity
            android:name=".Lists.TikTokActivity"
            android:exported="false" />
        <activity
            android:name=".Lists.FacebookListActivity"
            android:exported="false" />
        <activity
            android:name=".Lists.InstagramListActivity"
            android:exported="false" />
        <activity
            android:name=".Lists.YouTubeListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".Lists.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminControlActivity"
            android:exported="false" />
        <activity
            android:name=".Start.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DailyBonusActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BuyCoinActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ConvertPointActivity"
            android:exported="false" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Start.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Start.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity.MakeScratchActivity"
            android:exported="false" />
        <activity
            android:name=".Start.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID" />
    </application>

</manifest>